.user-form {
  width: 50%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 6px;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
}

button {
  border: none;
  background-color: palegreen;
  color: white;
  padding: 6px;
  border-radius: 4px;
}

table,
td,
th {
  border: 1px solid;
}

table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}
